<div class="container theme-showcase" role="main">
<div class="page-header">
    <h1>ID: <%= @product.product_id %></h1>
</div>
<p>
  <strong>Description:</strong>
    <%= @product.description %>
</p>
<p>
  <strong>SDS:</strong>
  <%= link_to 'download_sds', :controller => "products", :action => "download_sds", :id => @product.product_id %>
</div>
