<div class="container theme-showcase" role="main">
<div class="page-header">
<h1>Generate Ashland Report</h1>
</div>

<%= form_for :ashland, url: ashland_index_path do |p| %>
<p>
<%= p.file_field :csv_file %>
</p>
<p>
    <%= p.submit "Generate Report" %>
</p>
<% end %>
<%= link_to "Home", root_path, {class: 'list-group-item'} %>
</div>
