<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Append footer to pdf</h1>
    </div>

    <%= form_for :pdf, url: pdfs_path, :html => {:class => 'form-inline'} do |p| %>
        <%= p.file_field :pdf_files, :multiple => true, :class => 'form-control' %>
        <%= p.submit "Append footer to PDF", {class: 'btn btn-primary'} %>
    <% end %>
    <div class="container">
        <%= link_to "Back Home", root_path, {class: 'btn btn-primary'} %>
    </div>
</div>
