<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Agencies</h1>
    </div>
    <div class="container">
        <%= link_to "Back Home", root_path, {class: 'btn btn-primary'} %>
    </div>
    <br>
    <div class="container">
        <input type="search" id="product-search" class="form-control" data-table="order-table" placeholder="Filter">
    </div>
    <div class="table-responsive">
        <table class="order-table table">
            <thead>
                <th>Agency ID</th>
                <th>Name</th>
            </thead>

            <% @agencies.each do |agency| %>
                <tr>
                    <td><%= link_to "#{agency.agency_id}", agency_path(agency.id) %></td>
                    <td><%= agency.name %></td>
                </tr>
            <% end %>
        </table>
    </div>
    <div class="container">
        <%= link_to "Back Home", root_path, {class: 'btn btn-primary'} %>
    </div>
</div>
