<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Customers</h1>
    </div>
    <div class="container">
        <%= link_to "Back Home", root_path, {class: 'btn btn-primary'} %>
    </div>
    <br>
    <div class="container">
        <input type="search" id="product-search" class="form-control" data-table="order-table" placeholder="Filter">
    </div>
    <div class="table-responsive">
        <table class="order-table table">
            <thead>
                <th>Customer ID</th>
                <th>Name</th>
            </thead>

            <% @customers.each do |customer| %>
                <tr>
                    <td><%= link_to "#{customer.customer_id}", customer_path(customer.id) %></td>
                    <td><%= customer.name %></td>
                </tr>
            <% end %>
        </table>
    </div>
    <div class="container">
        <%= link_to "Back Home", root_path, {class: 'btn btn-primary'} %>
    </div>
</div>
