[Unit]
Description=Watch for changes to pdf files and push to external website

[Service]
ExecStart=/var/www/alchemy/alchemy-webservice/scripts/continuous-rsync.sh

[Install]
WantedBy=basic.target
