<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1><%= @vendor.vendor_name %></h1>
    </div>
    <div class="list-group">
        <%= link_to 'Vendors', vendors_path, {class: 'btn btn-primary'}  %>
    </div>
    Place holder. TODO add vendor image and buttons to update it.
    <br>
    <br>
    <br>
    <br>



</div>
