<div class="container theme-showcase" role="main">
<div class="page-header">
<%= image_tag("logo.svg", :alt => "Company Logo", width: 300) %>
</div>
<%= link_to 'Append footer to PDF', new_pdf_path  %>
</div>
