// Place all the styles related to the ConfigTable controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large_text_area {
	height:60vh; 
	width:100%;
	overflow: scroll;
}
